.navItem {
    font-family: Basis Grotesque Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #ffffff;
    padding-left: 0.5em;
    padding-right:0.5em;
}

.h1 {
    font-family: Impact;
    font-style: normal;
    font-weight: normal;
    font-size: 96px;
    line-height: 117px;

    color: #FF0000;
}

.div1 {
    position:absolute; 
    z-index: 1; 
    height: 80px; 
    padding-top: 220px;
    padding-left: 260px;
}

.div2 {
    height: 494px; 
    width: 400;
    box-align: center;
    position: relative;
    padding-top: 30px;
}